.main-section {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
}
.main-text-table {
  margin-right: 60px;
  line-height: 1.2;
}
.main-text {
  font-size: 40px;
}
.second-text {
  font-size: 28px;
  color: #ccc;
}

/* filter table */
.categories-list-container {
  width: 90rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 8rem;
  justify-content: space-between;
}

.category-item button {
  align-items: center;
  border-radius: 50%;
  background-color: #fdeaea;
  color: #e67e22;
  height: 62px;
  width: 62px;
}

.section-container {
  margin-top: 4.8rem;
  padding: 1.2rem 4.8rem 128px 3.2rem;
  border-left: #ccc solid 0.5px;
}

.filter-section {
  height: 280px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* copy of w3school */

.sort-cat {
  margin-right: 10px;
}

.filter-section p {
  font-size: 1.6rem;
  color: #333;

  margin-bottom: 1.6rem;
}

.filter-heading {
  font-size: 2.4rem;
}
/* Round range slider */
.price-range-slider {
  margin-bottom: 3.2rem;
}

.price {
  font-size: 2.4rem;
  font-weight: 600;

  margin-right: 0.8rem;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-right: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  right: 5px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* tickets table */
.tickets-table {
  margin: 2.8rem 4rem;
}

.ticket-row {
  width: 600px;
  height: 6.4rem;

  padding: 0.8rem;

  border-bottom: 0.5px solid #ccc;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.ticket-row:hover {
  border-radius: 13px;
  box-shadow: 0 0.2rem 0.8rem rgba(63, 24, 24, 0.175);
  transition: 00.05s;
  cursor: pointer;
}

.ticket-date {
  text-align: center;
}

/* ticket-date text */
.ticket-e-date {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333;
}
.ticket-time {
  font-size: 16px;
  color: #444;
}

/* ticket-deatils text */
.ticket-name {
  font-size: 20px;
  margin-bottom: 8px;
}
.ticket-place {
  font-size: 16px;
}
.ticket-price-btn-box {
  display: flex;
  height: 36px;
  width: 124px;
  background-color: #151515;
  justify-content: center;
  border-radius: 6px;
}
.ticket-price-btn {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
.ticket-price {
  font-size: 15px;
  font-weight: 600;
  padding: 0 16px;

  color: #fff;
}
.tickets-section-div {
  display: flex;
}
