/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.logo {
  width: 12rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 5rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
/* hero */

.hero-main-text {
  font-size: 5.2rem;
  color: rgb(112, 70, 70);
}

.hero-after-main-text {
  font-size: 2rem;
}

::placeholder {
  color: #777;
  opacity: 0.7;
}
.search-bar-form {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  border-radius: 13px;
  display: flex;
  border: #666 solid 2px;
}
.search-bar {
  all: unset;
  padding: 8px 10px;
  font-size: 1.8rem;
  width: 60rem;
  height: 4rem;
}
/* search bar icon */
.search-btn {
  background: none;
  border: none;
  font-size: 15px;
  margin-left: 30px;
  cursor: pointer;
}
.section-hero {
  background-color: #ffe6e6;
  /* המסך הקטן שלי זה 48 רם בול */
  height: 48rem;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* catagory icon */
.icon {
  width: 2.4rem;
  height: 2.4rem;
}
.cat-icon {
  color: inherit;
  font-size: 18px;
}

.why-us-box {
  display: flex;
  width: 1000px;
  height: 80px;
  margin-top: 20px;
}
.why-us {
  display: flex;
}
.why-us_text h3 {
  margin-bottom: 5px;
  font-size: 14px;
}
.why-us_text p {
  font-size: 11px;
}
.why-us_icon {
  font-size: 16px;
  color: #e67e22;
}
.why-us_text {
  margin-right: 10px;
}
.categories-list-container {
  width: 90rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 8rem;
  justify-content: space-between;
}

.category-item button {
  align-items: center;
  border-radius: 50%;
  background-color: #fdeaea;
  color: #e67e22;
  height: 62px;
  width: 62px;
}

.section-container {
  margin-top: 4.8rem;
  padding: 1.2rem 4.8rem 128px 3.2rem;
  border-left: #ccc solid 0.5px;
}

.filter-section {
  height: 280px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* copy of w3school */

.sort-cat {
  margin-right: 10px;
}

.filter-section p {
  font-size: 1.6rem;
  color: #333;

  margin-bottom: 1.6rem;
}

.filter-heading {
  font-size: 2.4rem;
}
/* Round range slider */
.price-range-slider {
  margin-bottom: 3.2rem;
}

.price {
  font-size: 2.4rem;
  font-weight: 600;

  margin-right: 0.8rem;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-right: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  right: 5px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* end */

/* tickets section */

.tickets-table {
  margin: 4.8rem 8rem;
}

.ticket-row {
  width: 800px;
  height: 6.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding: 0.8rem;

  border-bottom: 0.5px solid #ccc;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.ticket-row:hover {
  border-radius: 13px;
  box-shadow: 0 0.2rem 0.8rem rgba(63, 24, 24, 0.175);
  transition: 00.05s;
  cursor: pointer;
}

.ticket-date {
  text-align: center;
}

/* ticket-date text */
.ticket-e-date {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #333;
}
.ticket-time {
  font-size: 16px;
  color: #444;
}

/* ticket-deatils text */
.ticket-name {
  font-size: 20px;
  margin-bottom: 8px;
}
.ticket-place {
  font-size: 16px;
}
.ticket-price {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  background-color: #151515;
  border-radius: 13px;

  padding: 1.2rem 0;
}
.ticket-price-btn {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
.tickets-section-div {
  display: flex;
}
