/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* hero */

.hero-main-text {
  font-size: 5.2rem;
  color: rgb(112, 70, 70);
  margin-top: 3rem;
}
.hero-main-second-text {
  margin-bottom: 4rem;
}
.hero-after-main-text {
  font-size: 2rem;
}

::placeholder {
  color: #777;
  opacity: 0.7;
}
.search-bar-form {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  border-radius: 13px;
  display: flex;
  border: #666 solid 2px;
}
.search-bar {
  all: unset;
  padding: 0.8rem 1rem;
  font-size: 1.8rem;
  width: 60rem;
  height: 4rem;
}
/* search bar icon */
.search-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-left: 3rem;
  cursor: pointer;
}
.section-hero {
  background-color: peachpuff;
  /* background-image: url("../football-img.jpg");
  background-size: cover;
  background-position: center; */
  /* המסך הקטן שלי זה 48 רם בול */
  max-height: 48rem;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* circle catagory */
/* list container */
.categories-list-container {
  max-width: 90rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 8rem;
  justify-content: space-between;
}

.category-item button {
  align-items: center;
  border-radius: 50%;
  background-color: #fdeaea;
  color: #e67e22;
  max-height: 6.2rem;
  max-width: 6.2rem;
}

.section-container {
  margin-top: 4.8rem;
  padding: 1.2rem 4.8rem 128px 3.2rem;
  border-left: #ccc solid 0.5px;
}

.filter-section {
  max-height: 28rem;
  max-width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* why us box */
.icon {
  max-width: 2.4rem;
  max-height: 2.4rem;
}
.cat-icon {
  color: inherit;
  font-size: 18px;
}

.why-us-box {
  display: flex;
  max-width: 80%;
  max-height: 10rem;
  margin-top: 2rem;
  justify-content: space-between;
}
.why-us {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 30%;
  max-height: 6rem;
}
.why-us:first-child {
  margin-right: 9rem;
}
.why-us-verticle:last-child {
  margin-right: 3rem;
}
.why-us-verticle {
  width: 1px;
  max-height: 5rem;
  background-color: #cdcdcd;
}
.why-us_text h3 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.why-us_text p {
  font-size: 1.2rem;
  line-height: 1.2;
}
.why-us_icon {
  color: orange;
  font-size: 3.4rem;
  margin-left: 0.5rem;
  margin-right: -2rem;
}
.why-us_text {
  margin-right: 1rem;
}

/* promotion table */

/* slider button */
.prom-sell-header {
  display: flex;
  justify-content: space-between;
  padding: 5rem 6rem;
}
.slider-btn {
  background: none;
  border: 1.2px solid black;
  border-radius: 1.4rem;
  padding: 0.8rem 2rem;
}
.slider-btn-text {
  font-size: 1.5rem;
  color: rgb(192, 93, 1);
  font-weight: 600;
  padding: 0 0.8rem;
}
.slider-btn-icon {
  color: #663000;
}
.show-title {
  font-size: 3rem;
}
.reco-shows {
  max-width: 90rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reco-show {
  max-width: 33.3%;
  border: 1px solid #777;
  margin-bottom: 5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.show-cont-img {
  display: flex;
  max-height: 14rem;
}
.show-photo {
  max-width: 100%;
  object-fit: inherit;
}
.show-cont-info {
  display: flex;
  flex-direction: column;

  padding: 2rem;
}
.show-name {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}
.show-cont-t_p {
  font-size: 1.2rem;
}
.pro-buy-btn-box {
  max-height: 3.6rem;
}
.pro-buy-btn {
  width: 100%;
  max-height: 100%;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.pro-buy-btn-text {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 1.2rem;
}
.pro-buy-btn-icon {
  background: none;
  font-size: 1.8rem;
  color: white;
  margin-left: 1.6rem;
}
.prom-sell-box {
  display: flex;
  justify-content: center;
}
.reco-shows {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* cat-list */
.reco-cat {
  max-width: 100%;
  max-height: 120rem;
}
.cat-box {
  width: 21rem;
  height: 15rem;

  border-radius: 1.5rem;
  position: relative;
}
.basketball {
  background: url("https://seatgeek.com/images/performers-landscape/generic-nba-basketball-b5070b/677206/400x275.jpg")
      center center / cover,
    rgb(68, 68, 68);
}
.football {
  background: url("https://seatgeek.com/images/performers-landscape/generic-mls-soccer-8c880f/677195/400x275.jpg")
      center center / cover,
    rgb(68, 68, 68);
}
.stend-up {
  background: url("https://seatgeek.com/images/performers-landscape/generic-comedy-e542e5/677157/400x275.jpg")
      center center / cover,
    rgb(68, 68, 68);
}
.music {
  background: url("https://seatgeek.com/images/performers-landscape/generic-concerts-2ee11f/677165/400x275.jpg")
      center center / cover,
    rgb(68, 68, 68);
}
.cat-box-text {
  position: absolute;
  font-size: 1.6rem;
  color: #fdeaea;
  right: 1.6rem;
  bottom: 1.5rem;
  font-weight: 600;
}
.cat-list-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.cat-list {
  list-style: none;
  cursor: pointer;
}
