* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}
body {
  font-family: "Assistant", sans-serif;
  color: #343a40;
}

.logo {
  width: 120px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 48px;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s;
}

.reason-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}
