* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}
.logo {
  width: 120px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 48px;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s;
}

::placeholder {
  color: #444;
  opacity: 0.7;
}
.serach-bar-form {
  width: 300px;
  height: 28px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid;
}
.serach-bar {
  all: unset;
  color: #444;
  padding: 6px 10px;
}

.main-section {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
